.nav {
    display: flex;
    gap: 20px;
}

.nav__btn {
    padding: 8px;
    font-size: 18px;
    font-weight: bold;
    transition: all 0.2s;
}

.nav__btn.active{
    border-radius: 18px;
    background-color: var(--semi-bg);
}

@media (hover: hover) {
    .nav__btn:hover {
        border-radius: 18px;
        background-color: var(--semi-bg);
    }
}